<div class="container">
  <h3 style="text-align: center">Reset your password</h3>
  <div class="row">
    <div class="col-9">
      <mat-form-field focused="true" appearance="outline" class="almost-full-width">
        <mat-label>Please enter your email address here</mat-label>
        <input matInput type="text" [(ngModel)]="email">
      </mat-form-field>
    </div>
    <div class="col-3">
      <button mat-raised-button (click)="submit()" style="margin-top: 8%; height: 55%" color="accent">
        <mat-icon>email</mat-icon>
      </button>
    </div>
  </div>
</div>
<ng-adsense
  [adClient]="'ca-pub-7364276574790830'"
  [pageLevelAds]="true"
></ng-adsense>
