<mat-drawer-container fullscreen autosize>
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <mat-list-item (click)="drawer.toggle()" routerLink="/home"><mat-icon matListIcon color="primary">home</mat-icon> Home </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="drawer.toggle()" routerLink="/words"><mat-icon matListIcon color="primary">list</mat-icon> Words </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="drawer.toggle()" routerLink="/train"><mat-icon matListIcon color="primary">spellcheck</mat-icon> Train </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="drawer.toggle()" routerLink="/add"><mat-icon matListIcon color="primary">add</mat-icon> Add </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="drawer.toggle()" routerLink="/languages"><mat-icon matListIcon color="primary">language</mat-icon> Languages </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="drawer.toggle()" routerLink="/dashboard"><mat-icon matListIcon color="primary">dashboard</mat-icon> Dashboard </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/home" style="cursor: pointer" matTooltip="Home page">Langcab</span>
      <span class="example-spacer"></span>
      <mat-form-field *ngIf="keyboardService.showKeyboards" style="width: 90px">
        <mat-select [(value)]="keyboardService.selectedKeyboard">
          <mat-option value="zh-t-i0-pinyin">Pinyin</mat-option>
          <mat-option value="ru-t-i0-und">Cyrillic</mat-option>
          <mat-option value="hi-t-i0-und">Hindi</mat-option>
          <mat-option value="ar-t-i0-und">Arabic</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="example-icon" mat-icon-button matTooltip="Other keyboard input" *ngIf="!keyboardService.showKeyboards" (click)="keyboardService.showKeyboards = true">
        <mat-icon>keyboard</mat-icon>
      </button>
      <button class="example-icon" mat-icon-button matTooltip="Disable extra keyboards" *ngIf="keyboardService.showKeyboards" (click)="keyboardService.showKeyboards = false">
        <mat-icon>keyboard_hide</mat-icon>
      </button>
      <button (click)="openDialog()" mat-icon-button matTooltip="Profile"><mat-icon class="example-icon">person</mat-icon></button>
    </mat-toolbar>
    <app-message></app-message>
    <router-outlet></router-outlet>
    <footer>
      <a style="padding-right: 10px" routerLink="/privacy">Privacy policy</a>
      <a routerLink="/terms">Terms of use</a>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
