<mat-drawer-container fullscreen autosize>
  <mat-drawer #drawer mode="push">
    <mat-nav-list>
      <mat-list-item (click)="drawer.toggle()" routerLink="/dashboard"><mat-icon color="primary">dashboard</mat-icon> Dashboard </mat-list-item>
      <mat-list-item (click)="drawer.toggle()" routerLink="/words"><mat-icon color="primary">list</mat-icon> Words </mat-list-item>
      <mat-list-item (click)="drawer.toggle()"><mat-icon color="primary">spellcheck</mat-icon> Train </mat-list-item>
      <mat-list-item (click)="drawer.toggle()"><mat-icon color="primary">language</mat-icon> Languages </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Langcab</span>
      <span class="example-spacer"></span>
      <button (click)="openDialog()" mat-icon-button><mat-icon class="example-icon">person</mat-icon></button>
    </mat-toolbar>
    <app-message></app-message>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
