<div class="container">

  <h1>Privacy Policy</h1>
  <p>This privacy policy explains how langcab.com
    ("langcab.com", "We", or "Us") collects and uses personal information that you ("you" or "your")
    provide on the langcab.com website and on the langcab.com App (collectively "langcab.com").
    This privacy policy was last updated on July 19th, 2019.</p>


  <h2>Guiding Principles</h2>
  <p>Our privacy policy is guided by the following principles:</p>
  <ol>
    <li>We’re committed to creating a safe and secure online environment for you.</li>
    <li>We do not sell your personal information to third parties.</li>
    <li>We collect very little personally identifiable information about you, and what we do collect we store securely. </li>
    <li>We believe that ultimately, you own your data, and that, whenever possible, you get to decide whether to take it with you. </li>
    <li>We believe that improving your vocabulary is a worthwhile lifelong pursuit. Therefore, unless you tell us otherwise, we will keep your learning history so that we can continue to personalize your experience over time. </li>
  </ol>

  <h2>How we collect data</h2>
  <p>langcab.com collects the following information about you and your use of langcab.com:</p>

  <h3>Personal Information</h3>
  <p>When you register for langcab.com, you provide to us personal information  (such as your full name, email address, grade level and school affiliation) that could be used to identify you. For the purposes of this Privacy Policy, we call this “Personal Information”. Your Nickname is used to identify you on to other users on langcab.com.  If you do not want to be identified, do not use any part of your real name as your nickname.</p>

  <h3>Information from Third Party Authentication Providers like Facebook, Github, Twitter or Google</h3>
  <p>If you decide to register through or otherwise grant access to a third-party authentication provider (“Authentication Provider”), such as Facebook Connect or Google,
    langcab.com may also collect Personal Information that is already associated with your Authentication Provider account. You may also have the option of sharing additional
    information with langcab.com through an Authentication Provider. If you choose to provide such information, during registration or otherwise, you are giving
    langcab.com the permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>

  <h3>Information about Your Use of langcab.com</h3>
  <p>We collect usage information about certain features of langcab.com, such as the questions you’ve answered, the words mastered, the effort it takes you to remember a specific word and the amount of time you’ve spent on langcab.com. </p>

  <h3>Information you Provide as Part of Your User Profile</h3>
  <p>Users have a public profile page on langcab.com. This page presents information that you provide such as your nickname. The profile page may also show information about your use of langcab.com such as achievements earned, lists created, or your level, as well as any comments that you’ve made on the langcab.com.</p>
  <p>
    If your personal data changes or you want to remove your account please contact us via email shown in the Contact form.
  </p>

  <h3>Information You Provide while Using langcab.com</h3>
  <p>Users of langcab.com can create various types of content ("User Content") that may be displayed publicly on langcab.com. User Content includes information such as vocabulary lists, comments, and other types of material that is shared with the community.</p>
  <p>Any User Content, along with your nickname or username, become public and may be used by us. Your public activities may also be read and collected by other users of the public activity areas on langcab.com. We are not responsible for the personally identifiable information you provide in these forums.
    The vocabulary you store belongs and can be used by langcab.com at any time even if it's referenced as "Your words", "Your vocabulary", "Your data", "Your vocab" or similar.
    We are not liable for the vocabulary you enter on langcab.com and do not provide support for missing words or any other kind date you entered.</p>


  <h2>What we will <strong>NOT</strong> do with your Personal Information</h2>
  <p>langcab.com will <strong>NOT</strong> sell Personal Information provided by you or by your School or District (except in connection of a merger or acquisition).</p>
  <p>langcab.com will <strong>NOT</strong> use Personal Information provided by you:</p>

  <ul style="margin-top: 0;">
    <li>To engage in targeted advertising</li>
    <li>To build a profile about you.</li>
  </ul>



  <h2>How we use Data</h2>
  <p>langcab.com uses collected Personal Information in the following ways:</p>

  <h3>To Enhance Your Experience on langcab.com</h3>
  <p>langcab.com uses the information you provide or that we collect to enhance our relationship with you and to operate, maintain, enhance, and provide all of the features and services found on langcab.com. langcab.com, for instance, stores your responses to the questions you’ve answered and the words you’ve had trouble with so we can provide you with the right question at the right time to improve your vocabulary.  We may use your Personal Information to provide you with information about langcab.com’s features, services and other offerings that may be of interest to you. Under certain circumstances and if we obtain your consent (for example, if you submit a testimonial and agree to make it public), we may post your Personal Information on langcab.com.</p>

  <h3>To Understand How You and Others Use langcab.com</h3>
  <p>langcab.com uses all of the information that you provide or that we collect from other users to understand and analyze the usage trends, learning behaviors, and preferences of our users, to improve the way langcab.com work and look, and to create new features and functionality. For more information, please see the “Technologies” section, below.</p>


  <h2>When We Share Data</h2>
  <p>langcab.com will disclose User Information only as described below:</p>

  <h3>If you want information shared with other users, we’ll share it for you. </h3>
  <p>langcab.com has a number of features that allow you to share information with other Users or the public at large. For example, you can create a profile, where you list your name, your email address and a password. Or you may create and name a word list. . Whenever you share information with other Users of our langcab.com, any Personal Information that you choose to include in, or is associated with, such User Postings will be accessible by such Users. As with most online services, once you make your Personal Information available to others in any of these ways, it may be collected and used by the recipients without restriction.</p>

  <h3>We share your achievements.</h3>
  <p>We will share certain achievements through our leaderboards and your personal profile. When interacting with langcab.com, you will receive points, achieve particular levels, earn badges for various achievements, and master words (“Achievments”). In certain cases, we will make these Achievements public accompanied by your nickname in a leaderboard, on your Profile page, or elsewhere on langcab.com.</p>

  <h3>We will share data when required by law.</h3>
  <p>
    We may access, preserve and disclose account information and User Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (i) comply with legal process; (ii) enforce our
    <a routerLink="/terms">Terms of Use</a>
    ; (iii) respond to claims that any User Content violates the rights of third parties; (iv) provide support relating to langcab.com; or (v) protect the rights, property or personal safety of the company, its users and the public.
  </p>

  <h3>We may share data in the context of a change in business, including a merger or acquisition.</h3>
  <p>We transfer information about you if we are acquired by or merged with another company. In this event, we will notify you of any such change in ownership or control of your information.</p>


  <h2>Social Media Widgets</h2>
  <p>langcab.com includes Social Media Features and widgets, such as the "Share This" button. These Features may collect your IP address, which page you are visiting on langcab.com, and may set a cookie to enable the Feature to function properly. Social Media Features and widgets are either hosted by a third party or hosted directly on langcab.com. Your interactions with these Features are governed by the privacy policy of the company providing them.</p>


  <h2>Advertising on langcab.com</h2>
  <p>
    We use third-party advertising companies to serve ads when you visit langcab.com. These companies may use information (not including your name, email address,
    school or any information provided directly to langcab.com) about your visits to this and other websites or apps in order to provide advertisements about goods
    and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these
    companies, <a href="http://www.networkadvertising.org/choices/">click here</a>.
  </p>
  <p>
    We use <a href="http://www.google.com/privacy/ads/privacy-policy.html">Google's DoubleClick cookie</a>
    to serve ads. You may choose to <a href="http://googleads.g.doubleclick.net/ads/preferences">opt out of the DoubleClick cookie</a>
    at any time. langcab.com does not provide any personally-identifying information to advertisers.
  </p>

  <h3>Advertising is not shown to Users Properly Associated with School or District Accounts</h3>
  <p>If you join a class owned by a teacher who is part of a paid school or district account, or you use a registered authentication provider that is linked to a paid school or district account, we will not serve ads to you on langcab.com.</p>


  <h2>Data Security</h2>
  <p>Data security is important to us.</p>

  <h3>We try to ensure that langcab.com and the information sent to us are safe, but no security measures are perfect.</h3>
  <p>langcab.com uses certain physical, managerial, and technical safeguards designed to preserve the integrity and security of your Personal Information and other information we maintain in connection with langcab.com. For example, all data is secured and protected at all times, stored on servers located in the US or Europe, and only employees with a business need to access this Personal Information are able to do so. We cannot, however, ensure or warrant the security of any or all of the information you transmit to us, and you do so at your own risk. Once we receive your transmission of information, we makes commercially reasonable efforts to ensure the security of our systems. We encrypt the transmission of all data using secure socket layer technology (SSL) or similar technologies. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>


  <h2>We will notify you electronically or via the website if langcab.com experiences a data security incident that could affect you.</h2>
  <p>If we learn of a data security incident that compromises or appears to compromise your Personal Information, then we will attempt to notify you electronically so that you can take appropriate protective steps. If you are a paid School or District customer, we will notify you electronically of any data security incident that affects your students. We may also post a notice on langcab.com if a data security incident occurs.</p>


  <h2>Data Retention</h2>
  <p>Unless we receive a deletion request from you or your parent or are contractually required to delete your account due to our business relationship with your school or district, we will retain your information for as long as your account is active or as is reasonably useful for operational or educational purposes.</p>


  <h2>Technical Information</h2>
  <p>To provide a personalized learning and high-quality experience, we may use various technologies that automatically record certain technical information from your browser or device, including standard log files, web beacons, or pixel tags. This technical information may include your Internet Protocol (IP) address, device or browser type, Internet service provider (ISP), referring or exit pages, clickstream data, operating system, and the dates and times that you visit langcab.com. We do this to better understand how you are using langcab.com so we can improve functionality and the services we offer you.</p>
  <p>Like most websites, whether or not you are a registered member, we may send one or more cookies – small text files containing a string of alphanumeric characters – to your computer. Cookies remember information about your activities on a website and enable us to provide you with a more personalized learning experience. langcab.com may use both session cookies and persistent cookies. A session cookie disappears automatically after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to langcab.com. You can, however, remove a persistent cookie at any time. Please review your web browser “Help” file to learn the proper way to modify your cookie settings. However, without cookies you will not have access to certain services and features on langcab.com.</p>
  <p>langcab.com uses a variety of third-party service providers, such as Google Analytics to understand usage. We may allow third-party service providers to place and read their own cookies, web beacons, and similar technologies to collect information through langcab.com. This information is collected directly and automatically by these third parties, and langcab.com does not participate in these data transmissions. langcab.com will, wherever feasible, contractually obligate our third-party service providers to abide by the terms of this Privacy Notice.</p>
  <p>langcab.com also uses Local Storage Objects (LSOs) such as HTML5 to store content information and preferences. Third parties with whom we partner to provide certain features on langcab.com may use LSOs such as HTML5 to collect and store information. Various browsers may offer their own management tools for removing HTML5 LSOs. Please consult your browser’s “Help” function to learn more.</p>


  <h2>Communication from langcab.com</h2>

  <h3>Customer Service</h3>
  <p>Based upon Personal Information you provide us, we will send you a welcoming email to verify your email address and password.  We will also communicate with you in response to your inquiries, to provide the services you request, and to manage your account. We will communicate with you by email only.</p>

  <h3>Service-related Announcements</h3>
  <p>We will send you strictly service-related announcements on rare occasions when it is necessary to do so.  For instance, if langcab.com is temporarily suspended for maintenance, we might send you an email.</p>
  <p>Generally, you may not opt-out of these communications, which are not promotional in nature.</p>

  <h3>Weekly Update Emails</h3>
  <p>If you have registered for langcab.com, we may send you a periodic email that includes a personalized vocabulary question, and information about new content on langcab.com. If you have registered for langcab.com and identified yourself as an educator, we may send you a personalized email that describes your students’ use of langcab.com. You may opt out of these emails. (Please see "Choice and Opt-out")</p>

  <h3>Other Emails</h3>
  <p>You may opt in to receive other emails, such as comment notifications or emails when new material comes out on the blog. You may opt out of these emails. (Please see "Choice and Opt-out")</p>

  <h3>Special Offers and Updates</h3>
  <p>We will occasionally send you information on products, services, special deals, and promotions. You may opt out of these emails.  (Please see "Choice and Opt-out")</p>

  <h2>Changes to this Privacy Statement</h2>
  <p>If we decide to change our privacy practices, we will modify this Privacy Policy so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</p>
  <p>We reserve the right to modify this Privacy Policy at any time, so please review it frequently.</p>
  <h2>Contact Us</h2>
  <p>
    If you have any questions or suggestions regarding this Privacy Policy or our privacy practices in general, please contact us through the Contact page.
  </p>

</div>
