<ng-adsense
  [adClient]="'ca-pub-7364276574790830'"
  [adSlot]="9344305724"
></ng-adsense>
<div *ngIf="trainService.overdueWords.length > 0" class="container">
  <div *ngIf="!trainService.random">
    <p style="margin-top: 1%">Left for today: {{trainService.overdueWords.length}}</p>
    <mat-progress-bar mode="determinate" [value]="trainService.progress"></mat-progress-bar>
  </div>
  <div style="margin-top: 1%" class="card {{trainService.color}} mb-3">
    <div class="card-header"><h3 style="text-align: center">{{trainService.selectedWord.wordChinese}}</h3></div>
    <div class="card-body">
      <div *ngIf="trainService.selectedWord.wordPinyin != null && trainService.onCheck">
        <h5 style="text-align: center"><i>{{trainService.selectedWord.wordPinyin}}</i></h5>
        <hr>
      </div>
      <mat-icon style="cursor: pointer" color="primary" (click)="trainService.enableSuggestion()" aria-hidden="false" aria-label="help icon" matTooltip="Display a tip">help</mat-icon>
      <mat-icon style="cursor: pointer" color="primary" (click)="trainService.revert()" aria-hidden="false" aria-label="swap icon" matTooltip="Revert words">swap_vertical_circle</mat-icon>
      <mat-icon style="cursor: pointer" color="primary" (click)="newWord()" aria-hidden="false" aria-label="skip" matTooltip="Skip this word">skip_next</mat-icon>
      <mat-chip-list aria-label="suggestions">
        <div *ngFor="let ws of trainService.wordSuggestions">
          <mat-chip style="cursor: pointer" *ngIf="trainService.reverted" (click)="trainService.response = ws.wordChinese">{{ws.wordChinese}}</mat-chip>
          <mat-chip style="cursor: pointer" class="clickable" *ngIf="!trainService.reverted" (click)="trainService.response = ws.wordEnglish">{{ws.wordEnglish}}</mat-chip>
        </div>
      </mat-chip-list>
      <div *ngIf="!trainService.onCheck">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Translation here</mat-label>
              <label>
                <input matInput type="text" [(ngModel)]="trainService.response" (keyup.enter)="trainService.submit()">
              </label>
            </mat-form-field>
          </div>
          <button (click)="trainService.submit()" [disabled]="trainService.response === ''" mat-fab color="accent">
            <mat-icon aria-label="Add" style="color: white">check</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="trainService.onCheck">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Translation here</mat-label>
              <label>
                <input autofocus matInput type="text" [(ngModel)]="trainService.response" (keyup.enter)="newWord()">
              </label>
            </mat-form-field>
          </div>
          <button (click)="newWord()" [disabled]="trainService.response === ''" mat-fab color="accent">
            <mat-icon aria-label="Add" style="color: white">check</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf="trainService.overdueWords.length <= 0" class="container" style="text-align: center">
  <div class="box">
    <div class="head">
      <div class="head-copy"></div>
      <div class="left-eye">
        <div class="pupil"></div>
        <div class="shine"></div>
      </div>
      <div class="right-eye">
        <div class="pupil"></div>
        <div class="shine"></div>
      </div>
      <div class="mouth">
        <div class="smile"></div>
        <div class="tounge"></div>
      </div>
    </div>
    <div class="claw-container-left">
      <div class="claw">
        <div class="claw-shine-left"></div>
        <div class="cut-out"></div>
      </div>
    </div>
    <div class="claw-container-right">
      <div class="claw">
        <div class="cut-out"></div>
        <div class="claw-shine-right"></div>
      </div>
    </div>
    <div class="arm-left-container">
      <div class="arm-body-left"></div>
      <div class="arm-claw-left"></div>
    </div>
    <div class="arm-right-container">
      <div class="arm-body-right"></div>
      <div class="arm-claw-right"></div>
    </div>
    <div class="tail-container">
      <div class="vert-1">
        <div class="vert-shine"></div>
      </div>
      <div class="vert-2">
        <div class="vert-shine"></div>
      </div>
      <div class="vert-3">
        <div class="vert-shine"></div>
      </div>
      <div class="vert-4">
        <div class="vert-shine"></div>
      </div>
      <div class="stinger">
        <div class="vert-shine-stinger"></div>
      </div>
      <div class="stinger-triangle"></div>
      <div class="stinger-cut-out"></div>
    </div>
    <div class="legs-container-left">
      <div class="left-front"></div>
      <div class="left-middle"></div>
      <div class="left-back"></div>
    </div>
    <div class="legs-container-right">
      <div class="right-front"></div>
      <div class="right-middle"></div>
      <div class="right-back"></div>
    </div>
    <div class="shadow"></div>
  </div>
  <h3>No words left for today.<br>
    Take a rest or <button mat-raised-button routerLink="/train/random" color="primary">Shuffle</button>
  </h3>
</div>
