@import '~@angular/material/theming';
$primary-colour: mat-palette($mat-deep-purple);
$accent-colour:  mat-palette($mat-light-green);
$warn-colour:    mat-palette($mat-deep-orange);
$primary-theme: mat-light-theme($primary-colour, $accent-colour, $warn-colour);
