@import 'custom-material-themes/primary-theme';
@import 'custom-material-themes/secondary-theme';
@import 'custom-material-themes/tertiary-theme';
@import '~@angular/material/theming';
@include mat-core();
.primary-theme {
  @include angular-material-theme($primary-theme);
}
.secondary-theme {
  @include angular-material-theme($secondary-theme);
}
.tertiary-theme {
  @include angular-material-theme($tertiary-theme);
}

body {
  margin: 0;
  padding: 0;
}

.mat-tooltip {
  font-size: 11pt !important;
}
