<div class="container">
  <div style="display: block; text-align: center; margin-top: 20px" class="container">
    <div class="btn-group">
      <i routerLink="/add" class="material-icons" matTooltip="Add a new word">add</i>
      <i routerLink="/words" class="material-icons" matTooltip="Search your vocabulary">search</i>
      <i routerLink="/train" class="material-icons disabledButton" matTooltip="Train your vocabulary">spellcheck</i>
    </div>
  </div>
</div>
<div class="container">
  <h5 style="margin-top: 40px">Langcab is a simple webapp designed for capturing your vocabulary.</h5>
  <p>
    When learning a language, it's not always easy to remember all the vocabulary.
    Langcab will help you remember your words by using a spaced repetition algorithm.
    <br />
    Even the process of adding words into the system will steady your vocabulary.
    You can add as many languages as you want.<br />
    To use it, just <a routerLink="/home" (click)="openDialog()">sign in</a> and start by <a routerLink="/add">adding your first word</a>!
  </p>
</div>
<ng-adsense
  [adClient]="'ca-pub-7364276574790830'"
  [pageLevelAds]="true"
></ng-adsense>
<div class="container">
  <h3 class="header">Why use Langcab</h3>
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="sr.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spaced repetition</h5>
            <p class="card-text">Langcab will automatically detect how fast you learn and lets you recall every
              word often enough so you don't forget it but just as often as necessary to remember. This is currently the most effective way known, to study vocabulary.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="devices.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bring your vocabulary everywhere</h5>
            <p class="card-text">Langcab saves your words online and allows you to access your words anywhere you have an internet connection. No matter if you're on your phone, browser, or desktop, as long as you log in, you can improve your vocabulary.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="dict.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Find your words</h5>
            <p class="card-text">While learning a language, it is common to forget a word learned in class. When translating it, many results appear on the screen, and you don't know which one applies. With Langcab, you can create your own dictionary and find the words you've learned immediately.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="community.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">From learners for learners</h5>
            <p class="card-text">Developed by people who are passionate about learning languages, any feedback is more than welcome. If you have any suggestions on how to improve this website, please go ahead and send us a message via email: <a href = "mailto: langcab@web.de">langcab@web.de</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="multi.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Multiple languages</h5>
            <p class="card-text">If you are learning multiple languages at a time, Langcab gives you the option of adding as many languages as you want. You are also not limited to the original version of a word. You could learn from Spanish to English or from German to Chinese. Up to you!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <h3 class="header">The best way to use Langcab</h3>

  <div class="row">
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="write.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Learn by writing</h5>
            <p class="card-text">Many studies have that writing a word helps us remember it especially for languages with a different alphabet. We recommend physically writing down new vocabulary while trainning your ability and adding new terms in Langcab. Using spaced repetition, algorithms, and physically writing words down, studying will be much more effective. To avoid wasting paper, it may be useful to buy a small white board.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="steadily.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Constantly add words</h5>
            <p class="card-text">Try to set a goal for an amount of words you want to learn per week. It's important to constantly add words to your dictionary to avoid plateaus. If you constantly increase your active vocabulary, you can make sure that you are still improving. The app will take care of making sure you remember the words entered in the past.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <br>
</div>
